<%- include("../particals/group_nav.ejs") -%>

<h1>Activiteiten Pagina</h1>

<ul>
    <% activities.forEach(function(activity){ %>
        <li><%= activity.title %>, <%= activity.start_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').split(' ')[0] %> <%= activity.start_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').split(' ')[1] %> - <%= activity.end_date.toISOString().replace(/T/, ' ').replace(/\..+/, '').split(' ')[1] %></li>
    <% }) %>
</ul>

