<!-- <%- include("../particals/group_nav.ejs") -%> -->

<main class="groupcontainer">
    <div class="groupinfo">
        <img src="<%= group.logo %>" alt="Logo <%= group.name %>" class="grouplogo">
        <h3>Adres</h3>
        <p>
            <%= location.name %> <br>
            <%= location.adress %>
        </p>
        <h3>Contact</h3>
        <p>
            <%= group.name %>@ksarooyghem.be
        </p>
    </div>

    <div class="groupstory">
        <h3>Verhalend Kader</h3>
        <p>
            <%= group.story %>
        </p>
    </div>

    <div class="groupleaders">
        <h3>Leiders</h3>
        <% leaders.forEach(function(leader){ %>
            <div>
                <p>
                    <%= leader.firstname %> <%= leader.lastname %> <br>
                    <%= leader.email %>
                </p>
            </div>
        <% }); %>
    </div>
</main>