<main id="backofficecontainer" class="container">
    <%- include("./particals/back_office.ejs") %>

    <div class="interface">
        <div class="orders-header">
            <h2>Wafelbak bestellingen</h2> 
            <a href="/wafelbak/excel">Download bestellingen</a>
        </div>
            
        <div class="info">
            <% orders.forEach(function(order) { %>
                <details class="interfaceinfo">
                    <summary><%= order.firstname %> <%= order.lastname %> <a class="summary-button" href="/wafelbak/order/delete/<%= order.order_id %>">delete</a></summary>
                    <p>Ban: <%= order.group %></p>
                    <p>email: <%= order.email %></p>
                    <p>Aantal pakketten: <%= order.total_amount %></p>
                </details>
            <% }) %>
        </div>
        <p>
            Totaal aantal pakketten: <%= total_nr %>
        </p>
    </div>
</main>