<main class="container" id="backofficecontainer">

    <%- include("./particals/back_office.ejs") %>

    <div id="backofficecreation">
        
        <div id="creationform">
            <h1>Activiteiten maken</h1>

            <%if(typeof error != "undefined"){%>
                <%- include('./particals/messages.ejs') %>
            <% } %>

            <form action="/activities/create" method="POST">
                <label for="title">Titel </label>
                <input id="title" type="text" name="title" placeholder="Titel...">
                <br>
                <label for="start_time">Start activiteit </label>
                <input id="start_time" type="datetime-local" name="start_date">
                <br>
                <label for="end_time">Einde activiteit </label>
                <input id="end_time" type="datetime-local" name="end_date">
                <br>
                <label for="meetingpoint">Plaats </label>
                <input id="meetingpoint" type="text" name="meetingpoint" placeholder="Plaats...">
                <br>
                <label for="description">Beschrijving </label>
                <input id="description" type="text" name="description" placeholder="Beschrijving...">
                <br>
                <label for="start_publication">Start publicatie </label>
                <input id="start_publication" type="date" name="start_publication">
                <br>
                <label for="end_publication">Einde publicatie </label>
                <input id="end_publication" type="date" name="end_publication">
                <br>
                <label for="bannen">Ban </label>
                <select id="bannen" name="group_name">
                    <% groups.forEach(function(group) { %>
                        <option><%= group.name %></option>
                    <% }) %>
                </select>
                <br>
                <button type="submit">Maak activiteit</button>
            </form>
        </div>
        
        <div id="creationData">
            <h1>Alle activiteiten</h1>
        
            <% activities.forEach(function(activity){ %>
                <form action="/activities/delete/<%= activity.activity_id %>?_method=DELETE" method="POST">
                    <a href="/activities/update/<%= activity.activity_id %>"><%= activity.title %>: </a><%= moment(activity.start_date).format('D/M, HH:mm') %> - <%= moment(activity.end_date).format("LT") %>
                    <button class="delete-btn" type="submit">Delete</button>
                </form> 
                <br>
            <% }) %>
        </div>
    </div>
            
</main>