<main class="container" id="backofficecontainer">
    <%- include('./particals/back_office.ejs') %>

   <div id="backofficecreation">
       
       <div id="creationform">
            <h1>Maak gebruikers</h1>
            <%- include('./particals/messages.ejs') %>
            <form action="/profile/update/<%= user.user_id %>" method="POST">
                <label for="email">Email </label>
                <input id="email" type="email" name="email" placeholder="Email..." value="<%= user.email %>">
                <br>
                <label for="phone">Telefoonnummer </label>
                <input id="phone" type="text" name="phone" placeholder="Telefoonnummer..." value="<%= user.phone %>">
                <br>
                <button type="submit">Update mijn profiel</button>
            </form>
       </div>

   </div>

</main>