<nav>
<a href="/">Back</a>
    <ul>
        <li><a href="/groups/<%= group.name %>/info">Info</a></li>
        <li><a href="/activities/<%= group.name %>">activiteiten</a></li>
        <li><a href="/groups/<%= group.name %>/vk">Verhalend Kader</a></li>
        <li><a href="/groups/<%= group.name %>/leiding">leiding</a></li>
        <li><a href="/locations/<%= group.name %>">locatie</a></li>
    </ul>
</nav>